<div class="panel panel-default">
    <div class="panel-heading [HEADERCLASSATTRIBUTE]" role="tab" id="heading[PANELCONTENTID]" data-toggle="collapse" data-parent="#[ACCORDIONID]" data-target="#collapse[PANELCONTENTID]" aria-expanded="[EXPANDED]" aria-controls="collapse[PANELCONTENTID]">
        <h4 class="panel-title">
            <a href="#collapse[PANELCONTENTID]">
                [PANELTITLE]
            </a>
        </h4>
    </div>
    <div id="collapse[PANELCONTENTID]" class="panel-collapse collapse[PANELCONTENTCLASS]" role="tabpanel" aria-labeledby="heading[PANELCONTENTID]">
        <div class="panel-body">
            [PANELCONTENT]
            [EDITLINK]
        </div>
    </div>
</div>